@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

$color: (
    base-black: #0D0D0D,
    sub-black: #2A2A2A,
    base-color: #FF8E3C,
    base-white: #FFFFFE
);
$font: (
    header-font: 'Anonymous Pro',
    para-font: 'Ubuntu'
);


*{
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    border: map-get($color, base-black) solid 8px;
}

h1,
h3 {
    font-family: map-get($font, header-font);
    font-weight: bold;
    font-size: calc(32px + 1vw);
}

p {
    font-family: map-get($font, para-font);
    font-size: calc(10px + 1vh);
}
nav ul {
    a {
        color: map-get($color, sub-black);
        font-family: map-get($font, header-font);
        font-size: calc(10px + 1vh);
    }
}

h6,
.card-text {
    font-size: 0.70em;
}

li {
    text-align: left;
}

.card-image {
    height: 240px;
}

c-1,
a,
.orange {
    color: map-get($color, base-color);
    text-decoration: underline;
}

#landing-page,
#projects-page,
#contacts-page {
    min-height: 90vh;
    min-width: 100%;
    height: auto;
    background-color: map-get($color, base-white);
    text-align: center;
    
}

#projects-page,
#contacts-page {
    border-top: map-get($color, base-black) solid 18px;

}

.card-title {
    color: map-get($color, base-color);
}

.logo {
    position: absolute;
    left: -10px;
}

.landing-page__paragraph {
    margin-top: 5%;
}

.landing-page__box {
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
}

#icon {
    margin-top: 5%;
}


.material-icons {
    color: map-get($color, base-black);
}

.row {
    padding: 5% 0 5% 0;

    h1 {
        font-size: calc(26px + 1vw)
    }
    h3 {
        font-size: calc(20px + 1vw)
    }
    p {
        font-size: calc(6px + 1vh);
    }
}

.card {
    margin: 2.5%;
    border: black 2px solid;
    border-radius: 1%;
}

.contacts__box {
    margin-top: 20%;
    border: black solid 2px;

}
.remove-padding {
    margin: 0;
    padding: 0 0 0 7.5%;
    text-align: left;
}
.icon {
    display:flex;
    flex-direction: row;
    justify-content: left;
    a {
        padding-right: 7.5%;
    }
}

.modal-size {
    width: auto;
    height: auto;
}
  


@media only screen and (max-width: 550px) {
    h1 {
      font-size: calc(26px + 1vw);
    }
    h3 {
      font-size: calc(20px + 1vw);
    }
    p {
      font-size: calc(6px + 1vh);
    }
    c-1 {
      font-size: calc(20px + 1vw);
    }
    h6, .card-text {
      font-size: calc(10px + 1vw);
    }
}
  
@media only screen and (max-width: 390px) {
    h1 {
      font-size: calc(22px + 1vw);
    }
    c-1 {
      font-size: calc(16px + 1vw);
    }
    h6, .card-text {
      font-size: calc(10px + 1vw);
    }
}
